#main-container {
    display: none;
    position: absolute;
    min-height: 100vh;
    width: 100%;
}

#central-container {
    margin-top: 20px;
}


#new-memo-modal {
  display: none;
  /* display: grid; */
  background-color: rgba(0, 0, 0, 0.397);
  position: fixed;
  height: 100%;
  width: 100%;
  justify-items: center;
  align-items: center;
}

#new-modal-form-holder {
    /* margin-top: 50px; */
    width: 800px;
    height: 550px;
    border-radius: 30px;
    padding: 35px;
}


  /* label color */
  #new-modal-form-holder .input-field label {
    color: white;
    font-size: 23px;
  }
  /* label focus color */
  #new-modal-form-holder .input-field input[type=text]:focus + label {
    color:  white;
  }

  #new-modal-form-holder .input-field input[type=text]{
    border-bottom: 1px solid  white;
    box-shadow: 0 1px 0 0  white;
  }

  /* label underline focus color */
  #new-modal-form-holder .input-field input[type=text]:focus {
    border-bottom: 1px solid  white;
    box-shadow: 0 1px 0 0  white;
  }

/* icon prefix focus color */
    #new-modal-form-holder .input-field .prefix.active {
        color:  white;
}

#new_memo_due_date, #new_memo_title {
  color: white;
}

#central_section{
  padding-left: 150px;
  padding-right: 150px;
}

#side_tools {
  position: fixed;
}

#add-memo-toggler {
    cursor: pointer;
}

#new_memo_content {
    height: 250px;
    border-color: whitesmoke;
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    resize: none;
}

#new-memo-close, #delete-memo-close {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

#save-new-memo-mobile {
  position: absolute;
  display: none;
  right: 50px;
  top: 5px;
}

#save-new-memo{
  position: absolute;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
}

#post-body {
  white-space: pre-wrap;
}

.warning, .sad, .done {
  display: none;
}


.post-body-box {
  border-width: 1px;
  border-style: solid;
  border-color: rgb(65, 64, 64);
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

#delete-memo-container {
  display: none;
  /* display: grid; */
  background-color: rgba(0, 0, 0, 0.397);
  position: fixed;
  height: 100%;
  width: 100%;
  justify-items: center;
  align-items: center;
}

#delete-memo-confirm-box {
  background-color: rgb(175, 40, 40);
  width: 400px;
  height: 145px;
  border-radius: 10px; 
  padding: 10px;
  padding-top: 45px;
}

@media (max-width: 700px) {
  #side_tools {
    display: none;
  }

  #new-modal-form-holder {
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 0; 
  }

  #new-memo-close {
    position: absolute;
    right: 0;
    top: 5px;
  }

  #save-new-memo{
    display: none;
  }


#save-new-memo-mobile {
  display: block;
}

  #new_memo_content {
    height: 420px;
  } 

  #central_section{
    padding-left: 10px;
    padding-right: 10px;
  }

}