h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body {
  font-family: 'Courier New', Courier, monospace;

}

html {
  scroll-behavior: smooth;
}

.datepicker {
  width: auto !important;
}

.dp-calendar-day {
  width: 35px !important;
  height: 30px !important;
  }

.uppercase {
  text-transform: uppercase;
}

li {
  list-style: none;
}