h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body {
  font-family: 'Courier New', Courier, monospace;
}

html {
  scroll-behavior: smooth;
}

.datepicker_ {
  width: auto !important;
}

  .dp-calendar-day {
    width: 35px !important;
    height: 30px !important;
    }

.uppercase {
  text-transform: uppercase;
}

#prev {
  display: none;
}

li {
  list-style: none;
}

.pointer {
  cursor: pointer;
}

input[type=date]::-webkit-inner-spin-button, 
input[type=date]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.pointer:hover {
  color: rgb(80, 79, 79) !important;
}

textarea, div {
  white-space: pre-wrap;
}

.links {
  margin: 5px;
}