#signup-block {
  position: absolute;
  display: grid;
  padding: 150px;
  height: 100%;
  align-items: center;
  /* display: none; */
}




.password-meter {
  height: 5px;
  border-radius: 5px;
  /* margin: 10px  */
}

#password-meter-container {
  display: none;
}

#loading-container-signup {
  display: none;
}


/* confirm signup */
#confirm-signup-container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  display: none;
  overflow: hidden;
}


@media (max-width:700px) {
  #signup-block {
    padding: 50px;
  }
}