#signup-block {
  position: absolute;
  display: grid;
  padding: 150px;
  height: 100%;
  align-items: center;
}




.password-meter {
  height: 5px;
  border-radius: 5px;
  /* margin: 10px  */
}

#password-meter-container {
  display: none;
}

#loading-container-signup {
  display: none;
}

@media (max-width:700px) {
  #signup-block {
    padding: 50px;
  }
}