#signup-block {
  position: absolute;
  display: grid;
  padding: 150px;
  height: 100%;
  align-items: center;
}


@media (max-width:700px) {
  #signup-block {
    padding: 50px;
  }
}

.password-meter {
  height: 5px;
  border-radius: 5px;
  /* margin: 10px  */
}